.vs/
*.suo
*.user
*.userosscache
*.sln.docstates

bin/
obj/
Debug/
Release/
x64/
x86/
[Bb]in/
[Oo]bj/
[Dd]ebug/
[Rr]elease/

*.exe
*.dll
*.pdb
*.cache
*.log

packages/
*.nupkg

_ReSharper*/
*.DotSettings.user